<div class="main-container">

  <h1 class="page-title">Scheduling Calculator</h1>

  <section class="calculator-description">
    <h2>About This Calculator</h2>
    <p>
      This calculator takes a group of candidates' rankings of how well each time slot works for them and assigns each
      candidate to a time slots in a way that maximizes overall satisfaction. It ensures that every candidate is
      scheduled for exactly one slot and that no slot is overbooked. Behind the scenes, the tool uses linear programming
      and mathematical optimization to carefully balance everyone’s preferences to create the most optimal schedule for
      the entire group.
    </p>
  </section>

  <mat-tab-group class="tab-wrapper">
    <mat-tab label="Manual Creation">
      <section class="matrix-builder-form">

        <h3>Step 1: Generate Scheduling Table</h3>
        <form [formGroup]="matrixDimensions">
          <div class="matrix-dimensions-container">
            <mat-form-field>
              <mat-label>Number of Time Slots</mat-label>
              <input matInput formControlName="numTimeSlots" (blur)="updateErrorMessage()">
              @if (matrixDimensions.get('numTimeSlots')?.invalid) {
                <mat-error> {{ numTimeSlotsErrorMessage() }} </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Number of Candidates</mat-label>
              <input matInput formControlName="numCandidates">
              @if (matrixDimensions.get('numCandidates')?.invalid) {
                <mat-error> {{ numCandidatesErrorMessage() }} </mat-error>
              }
            </mat-form-field>
          </div>
          <mat-checkbox formControlName="multipleAssignmentsPerTimeSlot">
            Allow multiple available slots per time slot
          </mat-checkbox>
        </form>

        <h3>Step 2: Enter Information Into Scheduling Table</h3>
        <app-user-input-scheduling-table
          [rows]="numTimeSlotsValue"
          [columns]="numCandidatesValue"
          [multipleAssignmentsPerTimeSlot]="matrixDimensions.get('multipleAssignmentsPerTimeSlot')?.value ?? false"
        ></app-user-input-scheduling-table>
      </section>
    </mat-tab>
    <mat-tab label="File Upload"></mat-tab>
  </mat-tab-group>
</div>
