.main-container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  font-size: clamp(1.68rem, 6vw, 2.4rem);
  text-align: center;
}

.calculator-description {
  border: 1px solid var(--mat-sys-outline);
  border-radius: 12px;
  padding: 0 16px;
  margin: 24px 0;
}

.tab-wrapper {
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 12px;
}

.matrix-builder-form {
  padding: 0 24px;

  display: flex;
  flex-direction: column;
}

.matrix-dimensions-container {
  margin: 12px auto 0;

  display: flex;
  flex-direction: column;
}

/* desktop */
@media (min-width: 600px) {
  .matrix-dimensions-container {
    margin-top: 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}
